.cards {
    max-width: 880px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 17px;
    row-gap: 20px;
}

@media screen and (max-width: 920px) {
    .cards {
        width: calc(100% - 19px*2);
        
        grid-template-columns: repeat(2, minmax(min-content, max-content));
        justify-content: center;
    }
}

@media screen and (max-width: 620px) {
    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}