.header {
    max-width: 880px;
    min-height: 73px;
    margin: 0 auto;
    padding: 45px 0 0;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 620px) {
    .header {
        padding-top: 22px;
        min-height: 61px;
    }
}