.profile__description {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.22;
    margin: 0 0 13px;
    padding: 0;
    align-self: flex-start;
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 700px) {
    .profile__description {
        font-size: 14px;
        line-height: 1.21;
        max-width: 210px
    }
}

@media screen and (max-width: 620px) {
    .profile__description {
        max-width: 210px;
        margin: 7px auto 0;
    }
}

@media screen and (max-width: 350px) {
    .profile__description {
        font-size: 13px;
     
    }
}