.profile__btn-add {
  width: 150px;
  height: 50px;
  margin-top: 35px;
  background-image: url(../../../image/ico_add_size_1280.svg);
  border-radius: 2px;
  border: 2px solid #fff;
}

@media screen and (max-width: 620px) {
  .profile__btn-add {
      background-image: url(../../../image/ico_add_size_750.svg);
      width: 282px;
      
      margin-top: 32px;
  }
}