.profile__info {
    margin: 22px 0 0 1px;
    max-width: 336px;
    align-items: baseline;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    flex-wrap: wrap;
    column-gap: 18px;
}

@media screen and (max-width: 620px) {
    .profile__info {
        column-gap: 10px;
        max-width: 230px;
        padding-left: 28px;
        padding-top: 5px;
    }
}